a:hover {
  text-decoration: underline;
}

.about-us {
  max-width: 600px;
  margin: 25px auto;
  text-align: center;
}

.form {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.form h2 {
  margin-bottom: 25px;
  margin-left: 50px;
}
