h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#wrapper {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
#asideImg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 90%;
  margin-left: 200px;
}
#asideImg img {
  width: 500px;
  height: 100%;
  object-fit: fill;
}
#banner-container {
  display: flex;
  justify-content: space-around;
}

#bannerTop {
  display: flex;
  justify-content: space-around;
  height: 120px;
  width: 70vw;
  margin: 0;
  padding: 0;
}

#img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#img-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#mainImg {
  width: 700px;
}

.card h4 {
  padding: 20px;
}

#asideImg {
  width: 500px;
}

#mainImg {
  width: 700px;
}

a:hover {
  text-decoration: underline;
}

#cardBtn {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

#articleMain {
  display: flex;
}

#sticky {
  padding: 20px;
  border: 1px solid whitesmoke;
  margin-top: 50px;
  position: fixed;
  right: 5%;
}
@media (max-width: 915px) {
  #bannerTop img {
    display: flex;
    margin: 10px;
  }
  #aside {
    margin: 10px auto;
  }
  #asideImg {
    margin: 10px auto;
  }

  #mainImg {
    margin: 10px auto;
  }

  #articleMain {
    display: block;
  }
  #sticky {
    position: relative;
    border: none;
  }
}
